**/*.xpr
day_2/adders/adders.runs/*
day_2/adders/adders.sim/*
day_2/adders/adders.hw/adders.lpr
day_2/adders/adders.ip_user_files/README.txt
**/*.lpr
**/wt/project.wpc
*.rst
**/impl_1/*
**/sim_1/behav/*
**/synth_1/*
**/.jobs/*
**/*.cache/*
**/.settings/
**/.autopilot/
**/csim/
**/sim/
**/syn/
**/impl/
*.cproject
*.project
*.aps
*.directive
*.protoinst
*.log
*.xml
*.app
*.apfmapping

The_HLS_Book/examples/union/union/unionTestS1/unionTestS1_data.json
The_HLS_Book/examples/union/union/unionTestS1/directives.tcl
The_HLS_Book/examples/union/union/unionTestS1/script.tcl
